{% extends "base_generic.html" %}
{% block title %}<title>Books List Page</title>{% endblock %}

{% block search %}
    <h2>Books in Library</h2>
    <form action="" method="post" target="_blank">
        {% csrf_token %}
        <p>
            Search: <input type="search" placeholder="Book title...">
            <input type="submit" value="Search">
        </p>
    </form>
{% endblock %}

{% block content %}


   {% if book_list %}
    <ul>
        {% for book in  book_list %}
          <li><a href="{% url "book-detail" book.id %}">{{ book.tittle }}</a> ({{book.author}})</li>
        {% endfor %}
    </ul>
    {% else %}
       <p>There are no books in the library</p>
    {% endif %}
{% endblock %}